/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: black;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.row {
  width: 100%;
  margin: 10px 30px;
  clear: both; }

/*Not neccessary in your layout -- only here for the demo page layout styles*/
.full {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  position: relative; }

.half.dark {
  background-color: #ffa633; }

.iphone-container {
  width: 100%; }

/*Styles for Dark version*/
.dark .phone-shape {
  border-color: #444;
  background-color: #333;
  box-shadow: -47px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.6); }

.dark .camera, .dark .circle, .dark .speaker, .dark .circle-button {
  background-color: #222; }

.dark .buttons, .dark .button.last {
  background-color: #333;
  box-shadow: -45px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.6); }

/*Default Phone Color Styles - White*/
.phone-shape {
  width: 295px;
  height: 532px;
  border-radius: 40px;
  border: 2px solid #fff;
  margin: 0 auto;
  padding: 60px 10px;
  background-color: #f3f3f3;
  position: relative;
  box-shadow: -47px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1); }

.phone-screen {
  height: 522px;
  width: 295px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
  position: relative; }

.top-details {
  position: absolute;
  left: 0;
  top: 17px;
  width: 100%; }

.camera, .circle, .speaker {
  border-radius: 100px;
  display: block;
  background-color: #e1e1e1; }

.camera {
  height: 7px;
  width: 7px;
  margin: auto; }

.circle {
  height: 9px;
  width: 9px;
  position: absolute;
  left: 95px;
  top: 16px; }

.speaker {
  height: 7px;
  width: 90px;
  margin: 10px auto 0; }

.buttons, .button.last {
  width: 3px;
  background: #eee;
  position: absolute; }

.buttons {
  box-shadow: -45px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1); }

.button.last {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); }

.circle-button {
  height: 40px;
  width: 40px;
  background: #e1e1e1;
  margin: 17px auto;
  border-radius: 100px; }

.button-one {
  height: 20px;
  left: -7px;
  top: 59px;
  border-radius: 4px 0 0 4px; }

.button-two {
  height: 40px;
  width: 3px;
  left: -7px;
  top: 110px;
  border-radius: 4px 0 0 4px; }

.button-three {
  height: 40px;
  width: 3px;
  left: -7px;
  top: 165px;
  border-radius: 4px 0 0 4px; }

.button-four {
  height: 40px;
  width: 3px;
  right: -7px;
  top: 110px;
  border-radius: 0 4px 4px 0; }

#contact {
  position: fixed;
  z-index: 998;
  right: 40px;
  top: 10px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  transition: color 0.4s linear; }
  #contact:hover {
    cursor: pointer; }

.blue {
  color: #3D61FE !important;
  transition: color 0.4s linear; }

.contact-form {
  position: fixed;
  z-index: 999;
  width: 30vw;
  height: 100vh;
  right: calc(-30vw - 5px);
  border-left: solid 5px #20F288;
  top: 0;
  background: white;
  transition: right 0.6s ease; }
  .contact-form form p {
    text-transform: uppercase;
    color: #3D61FE;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important; }
  .contact-form #cross img {
    width: 30px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: transform 0.15s ease; }
    .contact-form #cross img:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.15s ease; }
  .contact-form #contact-copy {
    color: #3D61FE;
    margin-top: 80px;
    padding: 0 25px; }
    .contact-form #contact-copy h1 {
      line-height: 1;
      font-size: 3rem; }
    .contact-form #contact-copy p {
      font-size: 1.4rem;
      line-height: 1.3; }
    .contact-form #contact-copy img {
      width: 150px;
      margin-left: calc(50% - 75px); }

.move-contact-form {
  right: 0;
  transition: right 0.6s ease; }

.bar {
  position: fixed;
  width: 50px;
  height: 10px;
  background: red;
  top: 100px;
  left: 200px;
  transition: transform 0.8s ease; }

.rotate {
  transform: rotate(180deg);
  transition: transform 0.8s ease; }

.intro {
  background: #3D61FE; }
  .intro img {
    width: 40%;
    margin-left: 30%; }

h1 {
  text-align: center; }
